<div class="training">
	<ul class="training__list list-unstyled">
		<li ng-show="!training.questions.length" class="no-questions">
			No training questions.
		</li>
		<li ng-repeat="question in training.questions">
			<h4>{{ $index+1 }}. {{ training.title }}</h4>
			<table class="training__info">
				<tr>
					<td>Dimension</td>
					<td ng-bind="question.dimension"></td>
				</tr>
				<tr>
					<td>Values</td>
					<td>
						<span class="training__info-val" >
							{{ question.values.join(', ') }}
						</span>
					</td>
				</tr>
			</table>
			<div class="training__options" data-ques-id="{{ question.id }}">
				<div ng-repeat="option in training.options">

					<div class="training__options-option" >
						<label>
							<input type="checkbox" class="training__options-checkbox" name="" value="" data-option-id="{{ option.id }}">
							<span ng-bind="option.text"></span>
							<div class="training__options-option-text">
								<div class="comment-area" ng-show="show">
									<div class="comment-content alert">
									</div>
								</div>
							</div>
						</label>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="training__actions">
		<input type="button" name="check_answer" id="check_answer" value="Submit your answer" ng-hide="postCheck" ng-click="postCheck = !postCheck">
		<!-- After check, show corresponding actions -->
		<div class="training__actions-after" ng-show="postCheck">
			<span></span>
			<input type="button" id="after_check" value="" ng-click="action()">
		</div>
	</div>
</div>